<%- include('../layout/head') %>
  <h1>You are on the detail view</h1>

  <section>
    <a href="/tasks/<%=id %>">
      <h2><%=category%> : <%= title %> :(<%=status%>)</h2>
    </a>
    <p><%=description%></p>
    <p>contact <%=contact%> for deets</p>
    <p>Due on <%=due%></p>
  
  </section>
</body>
</html>