<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>You are on the detail view</h1>

  <section>
    <a href="/tasks/<%=id %>">
      <h2><%=category%> : <%= title %> :(<%=status%>)</h2>
    </a>
    <p><%=description%></p>
    <p>contact <%=contact%> for deets</p>
    <p>Due on <%=due%></p>
  
  </section>
</body>
</html>